footer {
    /* position: relative; */
    background-color: var(--footer-color) ;
    margin-top: 160px;
}

.footer {
    position: relative;
    margin: 0 80px;
    width: calc(100% - 160px);
    max-width: 1920px;
    justify-self: center;

    height: 120px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding:  1rem 0 1.5rem 0;

    /* background-color: var(--footer-color); */
}

.footer:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100%;
    background: var(--background);
}

.footer > * {
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.footer .logo {
    z-index: 1;
    margin-bottom: 0.5rem;
}

.footer .designer {
    z-index: 1;
    justify-content: center;
    margin-top: 14px;
}

.footer a {
    color: var(--font-color);
    font-size: 1.125rem;
    font-weight: 500;
    align-items: center;
    justify-content: left;
}

.footer a img {
    display: block;

    height: 44px;
    width: auto;
}

.footer p {
    font-size: 1.125rem;
}

.footer > :last-child {
    margin-top: 14px;
    justify-self: right;
}

.sm-nav-footer a svg path {
    fill: var(--font-color)
}

.sm-nav-footer a:hover svg path {
    fill: var(--gold);
}

/* PICTURE */

.picture-map {
    position: relative;
}

/* PUZZEL */

.footer-puzzels {
    position: absolute;

    top: 0;
    left: -80px;
    transform-origin: top left;
}

#open_preferences_center {
    display: none;
}

@media (min-width: 1441px) {
    .footer-puzzels-1440 {
        display: none;
    }
}

@media (max-width: 1440px) {
    .footer {
        height: 96px;
    }

    .footer-puzzels { 
        left: 0;
    }

}