/* HEADER */

.main-header {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    /* position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; */
    
}

/* PICTURE */

picture {
    position: relative;
    display: block;
    width: 100%;
}

picture::after{
    content: "";
    inset: 0;
    position: absolute;
    background: 
        linear-gradient(180deg, rgba(11, 29, 38, 0.00) 57.64%, rgba(249, 243, 237, 1) 100%),
        linear-gradient(332deg, rgba(0, 0, 0, 0.00) 33.79%, rgb(0, 0, 0, 1) 104.08%);
    pointer-events: none;
    z-index: 1;
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.header-bg {
    /* position: relative; */
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}



/* .header-bg-try {
    position: relative;
    width: 100vw;
    min-width: 100vw;
    height: 140vh;
    background: url(./img/header_img.jpg) no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
} */


/* Elementy na zdjęciu */

.nav-bar, .header-content {
    position: absolute;
    z-index: 2; /* ponad gradientem */
    margin: 0 80px;
    width: calc(100% - 160px);

    /* z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem 0; */
    /* margin: 0 80px; */
}

/* NAWIGACJA */

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding:  1rem 0 1.5rem 0;

    /* display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3,minmax(0, 1fr)); */
}

nav ul {
    justify-content: center;
}

.main-nav ul {
    gap: 2.5rem;
}

nav a {
    font-size: 1.125rem;
    font-weight: 600;
    align-items: center;
    justify-content: left;
}

.logo {
    margin-bottom: 0.5rem;
}

.nav-bar > :last-child {
    justify-self: right;
}

.sm-nav {
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.sm-nav p {
    font-size: 1.125rem;
    margin-right: 4px;
}

.sm-nav a img {
    display: block;
}



/* TREŚĆ */

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    height: 100vh;
}

.header-content > * {
    width: 50vw;
}

.heading {
    display: inline-flex;
    align-items: center;
    gap: 2.5rem;
}

.heading::before {
    content: "";
    display: inline-block;
    width: 4.5rem;
    height: 0.125rem;
    background: var(--gold);
}

/* SVG puzzel */

.header-bg svg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    transform-box: fill-box;
    transform-origin: bottom left;
}





