main {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    margin: 0 auto;
    position: relative;
}

.outer-overflow-wrapper{
    overflow: hidden;
}

.oferta :first-child{
    min-height: auto;
    /* margin-top: 40px; */
    /* margin-bottom: 24px; */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > * {
    /* margin-bottom: 80px; */
}

.grid {
    height: fit-content;
    min-height: 720px;
    display: grid;
    column-gap: 5rem;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.hide-desktop {
    display: none;
}

.visible-desktop {
    display: block;
}

.grid_oferta_3 {
    min-height: 1370px;
    row-gap: 1.5rem;
    grid-template-rows: repeat(10, minmax(0, 1fr));
}

.grid_oferta_3 .grid_text_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
    grid-row: 1 / span 6;
    grid-column: 2 / span 6;
}

.grid_oferta_3 .grid_img_right {
    position: relative;
    grid-row: 1 / span 7;
    grid-column: 8 / span 4;
    width: auto;
    height: 100%;
}

.grid_oferta_3 .grid_img_center {
    position: relative;
    grid-row: 7 / span 3;
    grid-column: 3 / span 8;
    width: auto;
    height: 100%;
}

.grid_text_left {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
    grid-column: 2 / span 6;
}

.grid_img_right {
    z-index: 0;
    position: relative;
    grid-column: 8 / span 4;
    width: auto;
    height: 100%;
}

.grid_img_left {
    z-index: 0;
    position: relative;
    grid-column: 2 / span 5;
    width: auto;
    height: 100%;
}

.grid_text_right {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
    grid-column: 7 / span 5
}

.img_o_mnie_1 {
    background: url(./img/o_mnie_1.jpg) no-repeat center/cover;
}

.img_o_mnie_2 {
    background: url(./img/o_mnie_2.jpg) no-repeat center/cover;
}

.img_oferta_1 {
    background: url(./img/oferta_1.jpg) no-repeat center/cover;
}

.img_oferta_2 {
    background: url(./img/oferta_2_new.jpg) no-repeat center/cover;
}

.img_oferta_3_1 {
    background: url(./img/oferta_3new.jpg) no-repeat center/cover;
}

.img_oferta_3_2 {
    background: url(./img/oferta_4new.jpg) no-repeat center/cover;
}



/* PUZLE w zdjęciach */

.puzzels_try {
    position: absolute;
    transform-box: fill-box;
    bottom: -240px;
    right: -240px;
    transform-origin: bottom right;

}

.puzzel {
    position: absolute;
    transform-box: fill-box;
}

.stroke {
    fill-opacity: 0.35;
}

.img_o_mnie_1 .puzzel {
    bottom: -240px;
    right: -145px;
    transform-origin: bottom right;
}

.img_o_mnie_2 .puzzel {
    top: -265px;
    right: -120px;
    transform-origin: top right;
}

.img_oferta_1 .puzzel {
    top: -265px;
    left: -240px;
    transform-origin: top left;
}

.img_oferta_2 .puzzel {
    top: -385px;
    left: -145px;
    transform-origin: top left;
}

.img_oferta_3_1 .puzzel {
    top: -145px;
    left: -265px;
    transform-origin: top left;
}

.img_oferta_3_2 .puzzel {
    top: -145px;
    right: -145px;
    transform-origin: top right;
}

/* O MNIE Sekcja */

section {
    gap: 120px;
}

section > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    grid-row: 1 / span 1;
}

/* OFERTA Sekcja */

/* main > .oferta {
    width: calc(100% + 160px);
    transform: translateX(-80px);
} */

.oferta .puzzels {
    position: absolute;
    right: calc((100vw - 100%) / -2);

    transform-box: fill-box;
    transform-origin: top right;
}

main {
    gap: 0;
}

main > .oferta {
    position: relative;
    z-index: 0;

    padding-bottom: 120px;
}

main > .oferta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(180deg, #F9F3ED10 0%, #F1E6DB 10%, #F1E6DB 100%); /* Twoje tło */
    z-index: -1;
}

.oferta .puzzel path {
    /* fill: #F1E5DA;
    stroke: #C99A6930; */
}

.oferta_0 {
    padding-top: 160px;
}

.oferta_0 .content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    grid-column: 3 / span 8;

    text-align: center;
}

.head_line {
    /* position: relative; */
    display: flex;
    flex-flow: row;
    align-items: last baseline;
}

.head_line h5 {
    /* padding-left: 5rem; */
    margin-left: -3rem;
}

.number {
    /* position: absolute;
    bottom: -26px; */
    font-size: 14rem;
    line-height: 15rem;
    font-weight: 600;
    color: var(--decoration);
    /* z-index: -1; */
}

/* KONTAKT */

.contact {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 160px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}


.contact_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 64px;
}

.contact_details_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact a {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--font-color);
}

.picture_contact {
    display: block;
    z-index: 0;
    position: relative;
    width: auto;
    height: 100%;
}

.contact svg {
    bottom: -25px;
    right: -145px;
    transform-origin: bottom right;
}