.carousel-section {
    position: relative;
    z-index: 0;

    padding: 120px 0 160px 0;
}

.carousel-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-section .heading {
    color: var(--white);
}

.carousel-section .heading::before {
    background: var(--white);
}

main > .carousel-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    bottom: 0;
    background: var(--gold);
    z-index: -1;
}

.carousel-content {
    grid-column: 2 / span 10;

    color: var(--white);
}



.carousel-cards {
    position: relative;
    width: 100%;
    min-height: 432px;
}

.carousel-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 80px;

    align-items: center;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel-card.active { 
    opacity: 1;
    position: absolute;
}

.carousel-text {
    display: flex;
    flex-direction: column;

    gap: 32px;
}

.carousel-opinion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.carousel-image {
    height: 432px;
    width: auto;
}

.carousel-image-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 24px;
}

.carousel-image-mobile h6 {
    display: none;
}

.quote {
    position: absolute;
    transform-box: fill-box;

    top: 0;
    right: -24px;
    transform-origin: top right;

    z-index: -1;
}

/* CONTROLS */

.carousel-controls {
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 16px;
}

button {
    all: unset;
}

.slide-button {
    padding: 12px 12px;
    align-items: center;

    color: var(--white);
    border: 2px solid var(--white);
}

.slide-button:hover {
    background-color: #F9F3ED10;
}

.slide-button:active {
    background-color: #F9F3ED20;
}

.slide-button svg {
    display: block;
}

.counter-text {
    width: 64px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
}

/* PUZZELS */

.testi-puzzels-1 {
    position: absolute;
    top: -120px;
    right: calc((100vw - 100%) / -2);

    transform-box: fill-box;
    transform-origin: top right;
}

.testi-puzzels-2 {
    position: absolute;
    left: calc((100vw - 100%) / -2);
    bottom: -160px;

    transform-box: fill-box;
    transform-origin: bottom left;
}
